
/* Carousel */
.d-block {
  background: #ffffff;
  color: #ffffff;
}
h3 {
  text-align: center;
}

/* Navbar */
#navbar {
  background: #504945;
  color: #ffffff;
}

/* Footer */
#footer {
  background: #1a7564;
  color: #ffffff;
}
 /* Card */
 .card-title {
  background: #1a7564;
  color: #ffffff;
 }
 .card-body {
   background: #1a7564;
   color: #ffffff;
 }